/* Header CSS */
.headercontainer {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 25px;
  @media only screen and (max-width: 769px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.headercontainer .header1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @media only screen and (max-width: 769px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.headercontainer .header1 .header1logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #424242;
}

.headercontainer .header1 .headcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
  @media only screen and (max-width: 769px) {
    margin-left: 0rem;
  }
}

.headercontainer .header1 .headcontent .headtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  @media only screen and (max-width: 769px) {
    font-size: 1.2rem;
  }
}

.headercontainer .header1 .headcontent .headsubtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #414141;
  @media only screen and (max-width: 769px) {
    font-size: 0.8rem;
  }
}

.headercontainer .header2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @media only screen and (max-width: 769px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.headercontainer .header2 .textstyle {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.headercontainer .header2 .textstyle2 {
  font-size: 1rem;
  font-weight: 500;
  color: #058900;
}

.headercontainer .header2 .textstyle2Dec {
  font-size: 1rem;
  font-weight: 500;
  color: #d50000;
}

/* Description CSS */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 2px solid #808080;
  /* padding: 5px; */
  border-radius: 10px;
}

.description .descriptiontitle {
  font-size: 1.2rem;
  width: 100%;
  padding: 10px;
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid #808080;
  @media only screen and (max-width: 769px) {
    font-size: 1rem;
  }
}

.description .descriptioncontent {
  font-size: 1rem;
  font-weight: 500;
  color: #414141;
  margin-top: 10px;
  padding: 10px;
  @media only screen and (max-width: 769px) {
    font-size: 0.8rem;
  }
}

.tabscontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  color: #fffffe;
  @media only screen and (max-width: 769px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
  }
}

.tabs {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
  background-color: #004643;
  color: #fffffe;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  @media only screen and (max-width: 769px) {
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

.slidecontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
  padding: 0 20px;
}

.slidercontent1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slidercontent2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: 5px;
}

.slidertitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: #414141;
  @media only screen and (max-width: 769px) {
    font-size: 0.7rem;
  }
}

.sliderdescription {
  font-size: 0.8rem;
  font-weight: 700;
  color: #000;
  @media only screen and (max-width: 769px) {
    font-size: 0.7rem;
  }
}

.range1 {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
  @media only screen and (max-width: 769px) {
    width: 60%;
  }
}

.range1::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.range1::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #004643;
  box-shadow: -407px 0 0 400px #004643;
}

.range1::-moz-range-thumb {
  height: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #004643;
  box-shadow: -407px 0 0 400px #004643;
}

.othercontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.othercontainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.othercontainer .content .title {
  font-size: 0.9rem;
  font-weight: 500;
  color: #434343;
}

.othercontainer .content .desc {
  font-size: 0.8rem;
  font-weight: 700;
  color: #000;
  margin-top: 5px;
}

.chartLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 300px;
}

.chartsize {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #808080;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartsize .charttitle {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.cartTypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  @media only screen and (max-width: 769px) {
    margin-top: 10px;
  }
}

.cartTypeContainer .cartTypeSubContainer {
  display: flex;
  width: 30%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 769px) {
    width: 80%;
  }
}

.cartTypeContainer .cartTypeSubContainer .cartType {
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1rem;
  @media only screen and (max-width: 769px) {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}

.cartTypeContainer .cartTypeSubContainer .cartTypeActive {
  background-color: #000000;
  color: #fffffe;
}
